
utils/setup/*.log

rtl/verilog/adv_debug_sys
rtl/verilog/or1200
rtl/verilog/uart16550
rtl/verilog/ethmac

backend/board.h
backend/gcc-opt.mk
backend/minsoc_bench_defines.v
backend/minsoc_defines.v
backend/orp.ld

bench/verilog/vpi/jp-io-vpi.vpi

prj/altera/
prj/sim/
prj/xilinx/

sim/run/minsoc_bench
sim/results/minsoc_wave.lxt2

sw/utils/

sw/**/*.o
sw/**/*.d
sw/**/*.a
sw/**/*.bin
sw/**/*.hex
sw/**/*.or32

